/* animations */
@-moz-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
 
.fadeIn {
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 2s;
  
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  
  opacity: 1 !important;
}
 
/* Custom CSS classes */
.clear        { clear: both; }
.hidden       { display: none; }
.opaque       { opacity: 0; }
 
 
/* Basic styling */
#tasksContainer { margin-top: 40px; }
 
/* Media Queries for device support */
@media screen and (max-device-width: 480px) {
  #tasksContainer { margin-top: 10px; }
}